.App {
  text-align: center;
}

.logo-size {
  width: 70px;
  height: 70px;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-left: 30px;
}

.register-button {
  top: 12px;
  height: 50px;
}

@font-face {
  font-family: "Norice";
  src: url(./assets/norice/Norice.ttf) format("truetype");
}

@font-face {
  font-family: "Black Mango Light";
  src: url(./assets/black-mango/TTF/BlackMango-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Black Mango";
  src: url(./assets/black-mango/TTF/BlackMango-Regular.ttf) format("truetype");
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: #1E1E1E;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}